/* Root Settings */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

*,
*::before,
*::after {
  -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
  outline: none;
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: white black;   /* scroll thumb & track */
  margin: 0;
  padding: 0;
}

html,body {
  font-family: 'Open Sans',sans-serif;
  line-height: 1.45;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a { text-decoration: none; }

/* Header */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, .4);
  border-bottom: 1px solid black;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;

  overflow:hidden;
}


.block-menu{margin: 0px auto;}
.block-menu li {display: inline-block;}

.block-menu li a {
  color: white;
  display: block;
  text-decoration: none;
  font-family: 'Passion One', Arial, sans-serif;
  font-smoothing: antialiased;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 24px;
  font-weight: bolder;
  padding: 10px 10px;
  text-shadow: 1px 1px 1px black;

}

.block-menu li a:hover {
  color: black;
  text-shadow: 1px 1px 1px white;
  transition: 0.25s;

}
