/* Projects */
#projects{
  width: 100%;
  min-height: 100vh;
  background-color: #222;

  display: flex;
  flex-direction: column;

  background:
  repeating-radial-gradient(circle at 0% -25%,
    #fedc00 0, #fedc00 calc(01/35 * 100%),
    #fcb712 0, #fcb712 calc(02/35 * 100%),
    #f7921e 0, #f7921e calc(03/35 * 100%),
    #e87f24 0, #e87f24 calc(04/35 * 100%),
    #dd6227 0, #dd6227 calc(05/35 * 100%),
    #dc4c27 0, #dc4c27 calc(06/35 * 100%),
    #ca3435 0, #ca3435 calc(07/35 * 100%),
    #b82841 0, #b82841 calc(08/35 * 100%),
    #953751 0, #953751 calc(09/35 * 100%),
    #354c88 0, #354c88 calc(10/35 * 100%),
    #16599d 0, #16599d calc(11/35 * 100%),
    #02609e 0, #02609e calc(12/35 * 100%),
    #0073a9 0, #0073a9 calc(13/35 * 100%),
    #008aa4 0, #008aa4 calc(14/35 * 100%),
    #239a87 0, #239a87 calc(15/35 * 100%),
    #7cba6d 0, #7cba6d calc(16/35 * 100%),
    #becc2f 0, #becc2f calc(17/35 * 100%),
    #e0d81d 0, #e0d81d calc(18/35 * 100%),
    #becc2f 0, #becc2f calc(19/35 * 100%),
    #7cba6d 0, #7cba6d calc(20/35 * 100%),
    #239a87 0, #239a87 calc(21/35 * 100%),
    #008aa4 0, #008aa4 calc(22/35 * 100%),
    #0073a9 0, #0073a9 calc(23/35 * 100%),
    #02609e 0, #02609e calc(24/35 * 100%),
    #16599d 0, #16599d calc(25/35 * 100%),
    #354c88 0, #354c88 calc(26/35 * 100%),
    #953751 0, #953751 calc(27/35 * 100%),
    #b82841 0, #b82841 calc(28/35 * 100%),
    #ca3435 0, #ca3435 calc(29/35 * 100%),
    #dc4c27 0, #dc4c27 calc(30/35 * 100%),
    #dd6227 0, #dd6227 calc(31/35 * 100%),
    #e87f24 0, #e87f24 calc(32/35 * 100%),
    #f7921e 0, #f7921e calc(33/35 * 100%),
    #fcb712 0, #fcb712 calc(34/35 * 100%),
    #fedc00 0, #fedc00 100%),
  repeating-radial-gradient(circle at 100% -25%,
    #fedc00 0, #fedc00 calc(01/35 * 100%),
    #fcb712 0, #fcb712 calc(02/35 * 100%),
    #f7921e 0, #f7921e calc(03/35 * 100%),
    #e87f24 0, #e87f24 calc(04/35 * 100%),
    #dd6227 0, #dd6227 calc(05/35 * 100%),
    #dc4c27 0, #dc4c27 calc(06/35 * 100%),
    #ca3435 0, #ca3435 calc(07/35 * 100%),
    #b82841 0, #b82841 calc(08/35 * 100%),
    #953751 0, #953751 calc(09/35 * 100%),
    #354c88 0, #354c88 calc(10/35 * 100%),
    #16599d 0, #16599d calc(11/35 * 100%),
    #02609e 0, #02609e calc(12/35 * 100%),
    #0073a9 0, #0073a9 calc(13/35 * 100%),
    #008aa4 0, #008aa4 calc(14/35 * 100%),
    #239a87 0, #239a87 calc(15/35 * 100%),
    #7cba6d 0, #7cba6d calc(16/35 * 100%),
    #becc2f 0, #becc2f calc(17/35 * 100%),
    #e0d81d 0, #e0d81d calc(18/35 * 100%),
    #becc2f 0, #becc2f calc(19/35 * 100%),
    #7cba6d 0, #7cba6d calc(20/35 * 100%),
    #239a87 0, #239a87 calc(21/35 * 100%),
    #008aa4 0, #008aa4 calc(22/35 * 100%),
    #0073a9 0, #0073a9 calc(23/35 * 100%),
    #02609e 0, #02609e calc(24/35 * 100%),
    #16599d 0, #16599d calc(25/35 * 100%),
    #354c88 0, #354c88 calc(26/35 * 100%),
    #953751 0, #953751 calc(27/35 * 100%),
    #b82841 0, #b82841 calc(28/35 * 100%),
    #ca3435 0, #ca3435 calc(29/35 * 100%),
    #dc4c27 0, #dc4c27 calc(30/35 * 100%),
    #dd6227 0, #dd6227 calc(31/35 * 100%),
    #e87f24 0, #e87f24 calc(32/35 * 100%),
    #f7921e 0, #f7921e calc(33/35 * 100%),
    #fcb712 0, #fcb712 calc(34/35 * 100%),
    #fedc00 0, #fedc00 100%);
  background-blend-mode: screen;

  -webkit-animation: hue-rotate 30s linear infinite;
     -moz-animation: hue-rotate 30s linear infinite;
       -o-animation: hue-rotate 30s linear infinite;
          animation: hue-rotate 30s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}


.project-tiles{
  margin: 100px 0px 0px 0px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 96%;
  height: 95%;
}

@media screen and (max-width: 1200px) {
  .project-tiles{ margin: 0px; }
}

.project-tile{
  position: relative;
  padding: 50px 10px;
  flex: 25%;
  flex-grow: 0;
  border: 20px solid transparent;
  border-radius: 2%;
  background-color: transparent;

  -webkit-animation: hue-rotate 30s linear infinite reverse;
     -moz-animation: hue-rotate 30s linear infinite reverse;
       -o-animation: hue-rotate 30s linear infinite reverse;
          animation: hue-rotate 30s linear infinite reverse;
}

@media screen and (max-width: 1200px) {
  .project-tile{flex: 50%;}
}

@media screen and (max-width: 500px) {
  .project-tile{flex: 100%;}
}

.project-tile::before{
  content: "";
  position: absolute;
  top: 0; left: 0;


  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
}

.project-tile::after{
  content: "";
  position: absolute;
  top: 0; left: 0;

  cursor: pointer;

  width: 100%;
  height: 100%;

  border-radius: 2%;
}

.project-tile:hover:after{
  transition: .8s;
  border: 2px solid #FFF;
}

#algorithms:hover:before{
  filter: hue-rotate(0);
  background-image: url(../images/algorithms-background.jpg);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#data-structures:hover:before{
  background-image: url(../images/data-structures-background.jpg);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#programming-notes:hover:before{
  background-image: url(../images/programming-notes-background.jpg);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#system-design:hover:before{
  background-image: url(../images/system-design-background.jpg);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#java:hover:before{
  background-image: url(../images/java-background.jpg);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#python:hover:before{
  background-image: url(../images/python-background.jpg);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#javascript:hover:before{
  background-image: url(../images/javascript-background.png);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}
#web-dev:hover:before{
  background-image: url(../images/web-dev-background.png);
  -webkit-animation: .5s linear visible;
     -moz-animation: .5s linear visible;
       -o-animation: .5s linear visible;
          animation: .5s linear visible;
}


@-webkit-keyframes visible {
  0% {opacity: 0;}
  100% { opacity: 1; }
}
@-moz-keyframes  visible {
  0% {opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes  visible {
  0% {opacity: 0;}
  100% { opacity: 1; }
}
@keyframes  visible {
  0% {opacity: 0;}
  100% { opacity: 1; }
}

.project-tile-content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-tile-img {
  min-width: 80px;
  max-width: 170px;
  height: auto;
  margin-bottom: 40px;
  filter: invert(100%) drop-shadow(3px 3px 3px #000) drop-shadow(3px 3px 7px #555);
}

.project-text{
  position: relative;
  font-size: 28px;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 3px 3px black, 3px 3px 5px #555;
  z-index: 10;
}
